  FIREBASE_API_KEY=
  FIREBASE_AUTH_DOMAIN=
  FIREBASE_PROJECT_ID=
  FIREBASE_STORAGE_BUCKET=
  FIREBASE_MESSENGER_SENDER_ID=
  FIREBASE_APP_ID=
  FIREBASE_MEASUREMENT_ID=
  URL_GOOGLE_NEARBY_SEARCH=https://maps.googleapis.com/maps/api/place/nearbysearch/json?
  URL_GOOGLE_FIND_PLACE=https://maps.googleapis.com/maps/api/place/findplacefromtext/json?
  URL_GOOGLE_PLACE_DETAILS=https://maps.googleapis.com/maps/api/place/details/json?
  URL_GOOGLE_PLACE_PHOTO=https://maps.googleapis.com/maps/api/place/photo?